data/processed/noise_cleaned.csv
data/processed/noise_cleaned.parquet
data/processed/aggregated_data.csv
.venv/
venv/
__pycache__/
*.pyc
src/__pycache__/
outputs/**.csv
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb
notebooks/.ipynb_checkpoints
*.pyo
.env
.venv/
venv/
*.egg-info/
.DS_Store
