# Python
__pycache__/
*.pyc
*.pyo
.env
.env.local

# Virtual env
venv/
.venv/

# Data - raw and large files
backend/data/raw/
backend/notebooks/
backend/outputs/

# Node
frontend/node_modules/
frontend/dist/

# Mac
.DS_Store
