backend/data/processed/noise_cleaned.csv
backend/data/processed/noise_cleaned.parquet
backend/data/processed/aggregated_data.csv
backend/.venv/
backend/venv/
backend/__pycache__/
*.pyc
backend/src/__pycache__/
outputs/**.csv
backend/.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb
backend/notebooks/.ipynb_checkpoints
*.pyo
.env
.venv/
venv/
*.egg-info/
.DS_Store
backend/data/processed/*.parquet

